[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CATTexact"]
	path = CATTexact
	url = https://github.com/cran/CATTexact
[submodule "dcortools"]
	path = dcortools
	url = https://github.com/cran/dcortools
[submodule "hctrial"]
	path = hctrial
	url = https://github.com/edelmand21/hctrial
